<div class="show-mobile">
    <div>
      <button>
        <img src="./assets/svg/" alt="menu">
      </button>
      <a href="">
        <img src="./assets/svg/" alt="logo">
      </a>
      <a href="">
        <img src="./assets/svg/" alt="logo">
      </a>
    </div>
  </div>
  <div class="hide-mobile">
    <div>
      <nav>
        <a class="logo" href="">
          <img src="./assets/svg/" alt="logo">
        </a>
        <ul>
          <li><a href="">All</a></li>
          <li><a href="">Favorites</a></li>
        </ul>
      </nav>
      <div class="info">
        <div class="account">jcm@jcm</div>
        <div>
          <a href="">
            <img src="./assets/svg/" alt="logo">
          </a>
        </div>
      </div>
    </div>
  </div>